# -*- coding: utf-8 -*-
#
# Settings for this project, copy this file to settings.py


BASE_URL = 'http://localhost:8080'
API_VERSION = 'v3.0.0'

USERNAME = ''
PASSWORD = ''
CONSUMER_KEY = '' 
CONSUMER_SECRET = ''

LICENSE = {
    'id': 'copyright',
    'name': 'Copyright 2017',
}



# This is for generate_stats.py only:

DATABASE = {
    'host': 'localhost',
    'name': '',
    'user': '',
    'password': '',
}

EXCLUDE_APPS = []
DATE_START = '2017-07-05 00:00:00'
DATE_END = '2017-07-08 00:00:00'
SERVER_TIMEZONE = 'UTC'
